<header>
	<h1>About Alpha Blog</h1>
</header>
<nav><p>Links</p><br>
	<%= link_to 'Home', root_path %><br>
	<a href="http://www.rubyonrails.org">Ruby on Rails</a><br>
	<a href="http://www.ruby-lang.org">Ruby</a><br>
	<a href="http://www.guides.rubyonrails.org/index.html">Rails Guides</a>
</nav>
<section>
	<h2>This the about page</h2>
	<p>Visit <a href="http://www.udemy.com">Udemy</a> for information on web developement courses.</p>
</section>
<footer>Copyright&copy:David Kempner</footer>


