// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header {
		background-color: #ffcc66;
		text-align: center;
		padding: 20px;
		font-family: "Arial";
		color: #000000;
	
	}

	section {
		height: 325px;
		margin-left: 200px;
		background-color: white;
		font-family: "Arial";

	}
	section a {
		color: #9EB7C4;
	}

	nav {
		background-color: #eeeeee;
		float: left;
		height: 325px;
		padding: 0px 5px 0px 5px;
		line-height: 25px;
		color: black;
		font-family: "Arial";
	}

	nav p {
		text-align: center;
	}
	a {
		text-decoration: none;
		color: #9EB7C4;
		font-family: "Arial";
	}
	footer {
		background-color: #333;
		color: #ffffff;
		padding: 10px;
		text-align: center;
	}