<div class="container">
  <footer class="footer">
    <small>Copyright &copy David Kempner visit me at: <a href="http://www.davekempner.com/" target="_blank">davekempner.com</a></small>
    <li><%= link_to "About", about_path %></li>
  </footer>
</div>
